

<header>
    
    <div id="profile-image">
     <img src="./img/CV2.jpg">
    </div>
    <h2> ROMERO CELESTE </h2>
   
    <h2>DESARROLLADORA FULLSTACK</h2>
    
</header>
<section>
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <h1>
            INFORMACION PERSONAL
          </h1>
          <h3>Nombre: Celeste Amiel</h3>
          <h3>Apellido: Romero</h3>
          <h3>Edad: 17 años</h3>
          <h3>Género: Femenino</h3>   
        </div>
        <div class="col-sm-12 col-md-4">
          <h1>Formación Académica:</h1>
          <h3>Nivel Primario: Completo - Escuela Capitán Juan de Zevallos</h3>
          <h3>Nivel Secundario: En proceso - Proa La Falda</h3>
          <h3>Cursos y Capacitaciones:</h3>
          <ul>
            <li>Desarrollador Fullstack - Capacitaciones que emplean ISPC</li>
            <li>Inteligencia Artificial - Expotronica</li>
            <li>Ciberseguridad - Expotronica</li>
            <li>Fotografía - Punto Digital</li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-4">

          <div class="col-sm-12 col-md-4">
            <h1>OLIMPIADAS Y COMPETENCIAS:</h1>
            
            <ul>
              <li>olimpiada de Astronomia - nivel provincial y nacional año 2019</li>
              <li>olimpiada de Astronomia - nivel provincial año 2023</li>
              <li>HACKATON CSIRT año 2023</li>
              <li>Olimpiadas de cooperativismo año 2018</li>
            </ul>
          </div>
        <div class="col-sm-12 col-md-4">

          <h1>Proyectos</h1>


          <div class="imgc">
            <img [src]="imgcv1" alt="CANSAT ROBERT-SAT">
            <img src="./CURRICULUM/src/assets/img/imgcv2.jpg" alt="CONVERSOR DE MAGNITUDES">
            <img src="imagen3.jpg" alt="aplicacion WEB , proyecto socio comunitario -BOMBEROS LA FALDA ">
          </div>

          
          
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
